<ion-app>
  <ion-split-pane when="(min-width: 820px)" contentId="main-content" class="app-split-pane">
    <ion-menu *ngIf="shouldShowMenu" side="start" menuId="main-menu" contentId="main-content" type="overlay" [swipeGesture]="false">
      <ion-content class="menu-content">
        <div class="menu-shell ion-padding">
          <div class="menu-meta">
            <p> TKKS
            </p>
          </div>
          <ion-list lines="none" class="menu-list">
            <ion-menu-toggle auto-hide="true" *ngFor="let item of appMenuItems">
              <ion-item button detail="false" class="menu-item" [class.active]="isActiveRoute(item.url)"
                (click)="navigateFromMenu(item.url)">
                <ion-icon slot="start" [name]="item.icon"></ion-icon>
                <ion-label>{{ item.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

          <ion-button class="menu-exit-button" expand="block" shape="round" fill="clear" (click)="logoutFromMenu()">
            Log out
          </ion-button>
        </div>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
